body{
    background-color: rgb(121, 119, 139);
}
h1{
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 55px;
}
#whats{
     font-size: 16pt;
     padding-top: 2px;
     padding-left: 20px;
     padding-right: 50px;

}
#email{
    font-size: 16pt;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 50px;
}
h3{
    font-size: 8pt;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 50px;
}
.content{
    background-color: rgb(173, 207, 207);
    align-items: center;
    
    
}

.voltar{
    text-align: center;
    font-style: black;
    background-color: rgb(74, 74, 177);

}