body{
    background-color: rgba(240, 244, 245, 0.986);
}

nav{
    height: 80px;
}

a{
    text-shadow: 2px 2px black;
    font-weight: bold;
}
footer{
    height: 80px;
    padding: 25px;
}

footer > p{
    text-shadow: 2px 2px white;
}
h3{
    text-shadow: 2px 2px blue;
}

ul > li{
    text-shadow: 1px 1px blue;
    font-weight: bold;
}