body{
    background-color: rgb(119, 223, 241);
}

.navbar-toggler{
    visibility: visible;
}

.logo{
    visibility: hidden;
}

.rodape{
    text-align: center;
    height: 80px;
    background-color: rgb(96, 96, 226);
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: bold;
    color: white;
}
div > a{
    margin: 15px 15px;
}  

footer{
    padding-bottom: 0px;
}