body{
    background-color: rgb(190, 190, 190);
}

.nav{
    height: 100px;
}
.brand-logo{
    padding: 25px 25px;
    margin: 10px;

}
footer{
    height: 100px;
    text-align: center;
    color: white;
    padding: 20px 20px;
    font-size: 16pt;
    font-weight: bold;
}

